@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;1,100;1,200;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  margin: 10px 50px;
  font-family: montserrat, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 70px;
  background-color: aquamarine;
}

.nav-div-one h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

.nav-div-two {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  width: auto;
  height: auto;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  background-color: yellowgreen;
}

.nav-div-two li a {
  text-decoration: none;
}

.section-one {
  display: flex;
  flex-direction: column;
  background-color: rgb(55, 55, 252);
  /* width: 1440px; */
  height: 715px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.section-one h1 {
  width: 1210px;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
}

.section-one p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  width: 745px;
}

.section-one button {
  padding: 19px 40px;
  border-radius: 40px;
  border: 40px;
}

.services {
  display: flex;
  flex-direction: column;
  height: 766px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: blueviolet;
}

.section-label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-label h1 {
  font-size: 64px;
  font-weight: 700;
  opacity: 0.05;
}

.section-label h5 {
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 29px;
}

.services-div-two {
  display: flex;
  gap: 30px;
}

.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 150px;
  padding-bottom: 60px;
  width: 310px;
  /* height: 345px; */
  border: solid 1px;
  border-radius: 5px;
  position: relative;
}

.services-card img {
  position: absolute;
  top: 50px;
}

.services-card .services-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 30px;
  text-align: center;
}

.services-card-text .services-card-p1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.services-card-text .services-card-p2,
.services-card-p3 {
  font-size: 14px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 100px 60px;
  gap: 30px;
  background-color: rgb(184, 99, 99);
}

.about-paragraph {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  /* line-height: 35px; */
  margin: 1px 135px;
}

.about .about-list {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  /* grid-template-rows: minmax(200px, fit-content); */
  justify-content: space-between;
  gap: 30px;
  margin: 60px 135px 40px;

  background-color: burlywood;
}

.about .about-list div {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 350px;
  gap: 10px;
  background-color: aquamarine;
}

.about .about-list span {
  padding: 5px;
  height: 1px;
  border-radius: 20px;
  background-color: aliceblue;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  background-color: rgb(60, 119, 1);
}

.gallery .gallery-video {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.gallery .gallery-video div {
  position: relative;
}

.gallery .gallery-video .gallery-play {
  display: flex;
  width: 156px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 70px;
  left: 120px;
  color: white;
  cursor: pointer;
}

.gallery .gallery-video div .gallery-pictures {
  width: 470px;
  height: 390px;
  border: none;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}

.gallery .gallery-video div .gallery-pictures:hover {
  transform: scale(1.1);
}

.contact-us {
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us form .form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 10px;
  padding: 80px 65px 20px 65px;
  /* height: 743px; */
  width: 1040px;
  background-color: yellow;
}

.form-grid-div {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-grid-div2 {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 2px 65px 65px;
}

.form-input {
  /* height: 60px;
  width: 450px; */
  padding: 5px 85px 35px 5px;
  border: solid 1px;
  border-radius: 5px;
}
#form-instructions {
  padding: 5px 120px 200px 5px;
  border: solid 1px;
  border-radius: 5px;
}

#form-submit {
  height: 60px;
  width: 1040px;
  margin-top: 17px;
  border-radius: 30px;
  border: none;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1167px;
  height: 200px;
  background-color: aquamarine;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  padding: auto;
  width: 200px;
  height: 70px;
  background-color: rgb(48, 145, 112);
}

#footer-special {
  padding-top: 15px;
}

#last-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  /* height: 158px; */
  padding: 50px 100px;
  background-color: azure;
}
