@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;1,100;1,200;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 10px;
  font-family: montserrat, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 70px;
  background-color: aquamarine;
}

.nav-div-one h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

.nav-div-two {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  width: auto;
  height: auto;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  background-color: yellowgreen;
}

.section-one {
  display: flex;
  flex-direction: column;
  background-color: rgb(55, 55, 252);
  /* width: 1440px; */
  height: 715px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.section-one h1 {
  width: 1210px;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
}

.section-one p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  width: 745px;
}

.section-one button {
  padding: 19px 40px;
  border-radius: 40px;
  border: 40px;
}

.services {
  display: flex;
  flex-direction: column;
  height: 766px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: blueviolet;
}

.section-label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-label h1 {
  font-size: 64px;
  font-weight: 700;
}

.section-label h5 {
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 25px;
}

.services-div-two {
  display: flex;
  gap: 30px;
}

.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 150px;
  padding-bottom: 60px;
  width: 310px;
  /* height: 345px; */
  border: solid 1px;
  border-radius: 5px;
  position: relative;
}

.services-card img {
  position: absolute;
  top: 50px;
}

.services-card .services-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 30px;
  text-align: center;
}

.services-card-text .services-card-p1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.services-card-text .services-card-p2,
.services-card-p3 {
  font-size: 14px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 100px 60px;
  gap: 30px;
  background-color: rgb(184, 99, 99);
}

.about-paragraph {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  /* line-height: 35px; */
  margin: 1px 135px;
}

.about .about-list {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: minmax(200px, fit-content);
  justify-content: space-between;
  gap: 30px;
  margin: 60px 135px 40px;

  background-color: burlywood;
}

.about .about-list div {
  /* display: flex; */
  /* width: 300px; */
  background-color: aquamarine;
}

.about .about-list span {
  padding: 5px;
  height: 1px;
  border-radius: 20px;
  background-color: aliceblue;
}
